/* Main Styles -------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
	display: inline-block;
}

/*  TO DO ---- Style the navigation content!  */
header {
	
}

#about {
	height: 950px;
	background-image: url('../img/logs.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-top: 150px;
	color: white;
}

#kitchen {
	height: 500px;
	padding-top: 100px;
	background-color: #977F52;
}

#menu {
	background-color: #46576E;
	padding-bottom: 1em;
}

#menu .content {
	width: 95%;
}

#menu img {
	display: block;
	width: 100%;
}

#contact {
	height: 600px;
	background-color: #D9CAAC;
}

.content {
	width: 70%;
	max-width: 800px;
	margin: auto;
}

/* Media Queries -------------------------------- */

@media (max-width: 700px) {
	.content {
		width: 85%;
	}
}